@model FactureViewer.Models.Product

@{
    ViewData["Title"] = "Facture";
}

<h1>Facture</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WareName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WareName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
				<dt class = "col-sm-2">
						@Html.DisplayNameFor(model => model.Facture.City)
				</dt>
				<dd class = "col-sm-10">
						@Html.DisplayFor(model => model.Facture.City)
				</dd>
				<dt class = "col-sm-2">
						@Html.DisplayNameFor(model => model.Facture.Code)
				</dt>
				<dd class = "col-sm-10">
						@Html.DisplayFor(model => model.Facture.Code)
				</dd>
				<dt class = "col-sm-2">
						@Html.DisplayNameFor(model => model.Facture.Status.StatusName)
				</dt>
				<dd class = "col-sm-10">
						@Html.DisplayFor(model => model.Facture.Status.StatusName)
				</dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
