@model IEnumerable<FactureViewer.Models.Facture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateFacture">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
						<th>
                Positions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
						<td>
                <ol>
									<li>
										<b>@Html.DisplayNameFor(modelItem => item.Product.WareName):</b>
										@Html.DisplayFor(modelItem => item.Product.WareName)
									</li>
									<li>
										<b>@Html.DisplayNameFor(modelItem => item.Product.Count):</b>
										@Html.DisplayFor(modelItem => item.Product.Count)
									</li>
									<li>
										<b>@Html.DisplayNameFor(modelItem => item.Product.Price):</b>
										@Html.DisplayFor(modelItem => item.Product.Price) PLN
									</li>
									<li>
										<b>@Html.DisplayNameFor(modelItem => item.Product.Tax):</b>
										@Convert.ToDouble(item.Product.Tax).ToString("P1")
										@* @Html.DisplayFor(modelItem => item.Product.Tax) *@
									</li>
								</ol>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
