@model IEnumerable<FactureViewerWithProducts.Models.Facture>

@{
    ViewData["Title"] = "Index";
}

<h1>Facture Viewer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
						@* <td>
							<ol style="padding-left: 0;">	
									@foreach ( var s in item.FactureProducts)
									{
										<li>
											<ul style="padding-inline-start: 10px">
													@Html.DisplayFor(modelItem => s.Product.WareName) - 
													@Html.DisplayFor(modelItem => s.Product.Price) PLN
													<br>
													<li>@Html.DisplayFor(modelItem => s.Product.WareName)</li>
													<li>@Html.DisplayFor(modelItem => s.Product.Price)</li>
											</ul>
										</li>
									}	
							</ol>

							<span style="margin-top: 5px; font-weight: bold;">Razem(brutto): </span>
							1000 PLN
							
						</td> *@
						
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
								<a asp-action="Details" asp-route-id="@item.Id">Wiecej...</a>
            </td>
        </tr>
}
    </tbody>
</table>
